<mat-toolbar [color]="'primary'">
  <span>Michael Westphal</span>
  <span>
    <a
      mat-button
      href="https://github.com/michaelwestphal/michaelwestphal.org"
      aria-label="GitHub Repository"
    >
      <img
        src="../assets/github-circle-white-transparent.svg"
        alt="GitHub logo"
      />&nbsp;GitHub
    </a>
  </span>
</mat-toolbar>

<h2>Résumé</h2>
<h3>Michael Westphal - Web Developer from Eau Claire, WI</h3>

<mat-divider></mat-divider>

<section>
  <mat-list>
    <mat-list-item>
      <strong>Email</strong
      ><a mat-button href="mailto:hello@michaelwestphal.org"
        >hello@michaelwestphal.org</a
      >
    </mat-list-item>
    <mat-list-item>
      <strong>GitHub</strong
      ><a mat-button href="https://github.com/michaelwestphal"
        >michaelwestphal</a
      >
    </mat-list-item>
    <mat-list-item>
      <strong>Linkedin</strong
      ><a mat-button href="https://linkedin.com/in/michael-e-westphal/"
        >michael-e-westphal</a
      >
    </mat-list-item>
  </mat-list>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Skills</h3>
  <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-list-item *ngFor="let skill of skills" matRipple cdkDrag>
      <strong>{{ skill.type }}</strong> &nbsp;{{ skill.keywords }}
    </mat-list-item>
  </mat-list>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Work History</h3>
  <mat-list *ngFor="let history of workHistory">
    <strong
      >{{ history.company }} ({{ history.startingDate }} &mdash;
      {{ history.endingDate }})</strong
    >
    {{ history.shortDescription }}
    <mat-list-item *ngFor="let position of history.positions">
      <strong>{{ position.title }}</strong> &nbsp;({{
        position.startingDate
      }}
      &mdash; {{ position.endingDate }})
    </mat-list-item>
  </mat-list>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Education</h3>
  <mat-list>
    <mat-list-item *ngFor="let education of education">
      <strong>{{ education.institutionName }}</strong
      >, {{ education.institutionLocation }}
      ({{ education.startingDate }} &mdash;
      {{ education.endingDate }}) &mdash; {{ education.degree }}
    </mat-list-item>
  </mat-list>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Interests</h3>
  <mat-list>
    <mat-list-item *ngFor="let interest of interests">
      <strong>{{interest.name}}.</strong>&nbsp;{{interest.details}}
    </mat-list-item>
  </mat-list>
</section>

<!-- <router-outlet></router-outlet> -->
